* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
.navbar {
  height: 7vh;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar img {
  margin: 10px;
}
body {
  background-image: linear-gradient(#ffb703, #c69417);
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  margin: 0%;
}
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}
.fname {
  font-family: "Roboto";
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  position: absolute;
  top: 50px;
  left: 50px;
}
.lname {
  font-family: "Roboto";
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  position: absolute;
  right: 100px;
  top: 120px;
}
.photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 80vh;
}
.blob-1 {
  position: absolute;
  bottom: 270px;
  right: 0px;
  z-index: -1;
}
.blob-1 img {
  height: 50vh;
}
.about {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.image {
  position: absolute;
  right: -100px;
  top: 25%;
}
.about h1 {
  font-family: "Roboto";
  color: white;
  font-size: 50px;
  text-transform: Title;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 50px 0 0px 20px;
}
.about img {
  width: 100%;
  height: 400px;
}
.about-text {
  font-family: "Roboto";
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
}
.p-1 {
  position: absolute;
  top: 30%;
  margin: 20px;
}
.p-2 {
  position: absolute;
  top: 40%;
  margin: 0px;
  left: 60px;
}
.p-3 {
  position: absolute;
  top: 50%;
  margin: 20px;
}
.hidden {
  display: none;
}
.bottom-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.4;
}
.bottom-svg img {
  height: 200px;
  width: 100%;
}
.journey {
  height: 100vh;
}
.boxes img {
  width: 100%;
  height: 90vh;
}
.journey h1 {
  font-family: "Roboto";
  color: white;
  font-size: 50px;
  text-transform: title;
  font-weight: 901;
  letter-spacing: 2px;
  margin: 50px 0 0px 20px;
}
